<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Monster Slayer</title>

  <link rel="stylesheet" href="styles.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body>

<div id="app">
  <div class="container">

    <div class="players-wrapper">
      <div class="playing-side" id="player">
        <h1>YOU</h1>
        <div class="health-bar">
          <div class="current-health" :style="{width: playerHealthBarWidth}">{{ playerHealth }}</div>
        </div>
      </div>

      <div class="playing-side" id="monster">
        <h1>MONSTER</h1>
        <div class="health-bar">
          <div class="current-health" :style="{width: monsterHealthBarWidth}">{{ monsterHealth }}</div>
        </div>
      </div>
    </div>

    <div class="common-wrapper control-buttons">
      <button v-if="!gameRunning" @click="startNewGame()" class="btn" id="start-game-btn">Start new game</button>
      <template v-else>
        <button class="btn" id="attack-btn" @click="attack">Attack</button>
        <button class="btn" id="special-attack-btn" @click="specialAttack">Special attack</button>
        <button class="btn" id="heal-btn" @click="heal">Heal</button>
        <button class="btn" id="give-up-btn" @click="gameRunning = false">Give up</button>
      </template>
    </div>

    <ul class="common-wrapper log">
      <template v-for="logValue in logValues">
        <li class="logged-action player-log" v-if="logValue.playerAttack">Player hits monster for {{ logValue.playerAttack }}</li>
        <li class="logged-action player-log" v-if="logValue.playerHeal">Player heals for {{ logValue.playerHeal }}</li>
        <li class="logged-action monster-log">Monster hits player for {{ logValue.monsterAttack }}</li>
      </template>
    </ul>

  </div>
</div>

<script src="app.js"></script>
</body>
</html>